@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Chivo", sans-serif;
    outline: none;
}
:root{
    --clr-dark:#242941;
    --clr-orange:#F4965D;
    --clr-sky:#81B7EC;
    --clr-light:#ecf0f1;
}


.form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button{
    transition: 0.5s;
}
.mobile-menu{
    transition: 0.5s;
}
.loader {
    width: 100px;
    height: 100px;
    border: 5px solid tomato;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 