@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Chivo", sans-serif;
}
body{
    background-color: #242941;
    color: white;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.27);
    width: 100%;
    height: 100%;
}
a{
    outline: none;
}
