@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Chivo", sans-serif;
    outline: none;
}
:root{
    --clr-dark:#242941;
    --clr-orange:#F4965D;
    --clr-sky:#81B7EC;
    --clr-light:#ecf0f1;
}

html,body{
    scroll-behavior: smooth;
}
body{
    background-color: var(--clr-dark);
    color: var(--clr-light);
   
}
/* about page */
.about {
    position: relative;
    background-image: url(https://ionomr.com/wp-content/uploads/2018/11/ben-with-membrane-roll.jpg?id=1695);
    background-size: cover;
    background-position: center;
    width: 100%;
    color: white; /* Ensures text color remains visible */
}

.about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 1; /* Place it under the content */
}

.about-content {
    position: relative;
    z-index: 2; 
}
/*get more info page */

input,textarea{
    background-color: #2E2D32;
}
input:hover{
    background-color: var(--clr-dark);
}



